
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Change Password</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" required type="password" [type]="hide ? 'password' : 'text'">
        <button color="primary" mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="'show password'" >
          <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="changePasswordForm.controls.oldPassword.errors?.required">The old password is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>New Password</mat-label>
        <input type="password" matInput formControlName="newPassword" required>
        <button color="primary" mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="'show password'" >
          <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          <span *ngIf="changePasswordForm.controls.newPassword.errors?.required">The new password is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" required>
        <button color="primary" mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="'show password'" >
          <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">The confirm password is required</span>
          <span *ngIf="validateSubmit()">Password do not matched</span>
        </mat-error>
        <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
          <span>New Password and Confirm Password does not match.</span>
        </mat-hint>
      </mat-form-field>



    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" (click)="handleChangePassword()" [disabled]="!(changePasswordForm.valid && changePasswordForm.dirty && !validateSubmit())">Submit</button>
  <button mat-raised-button color="accent" mat-dialog-close>Close</button>
</mat-dialog-actions>
