<body>
<!--<mat-card>-->
<!--  <b><h3>Dashboard</h3></b>-->
<!--</mat-card>-->
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2  style="text-align: center"><b>Total Members</b></h2>
        <div>
          <div>
            <h1 class="title">63</h1>
          </div>
        </div>
        <p><button  (click)="openComponent()" class="button" mat-raised-button color="primary">
          <mat-icon>visibility_off</mat-icon>
          View members</button><p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2  style="text-align: center"><b>Available funds</b></h2>
<!--        <mat-icon>money</mat-icon>-->
        <h1 class="title">123,748.00 HTG</h1>
        <p><button class="button" mat-raised-button color="primary">View Transactions</button><p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 style="text-align: center"><b>Visitors /Year</b></h2>
        <h1 class="title">17 visitors</h1>
        <p><button class="button" mat-raised-button color="primary">View members</button><p>
      </div>
    </div>
  </div>

<!--  <ul class="box-info">-->
<!--    <li>-->
<!--      <mat-icon>people</mat-icon>-->
<!--      <span>3026</span>-->
<!--      <p>Members</p>-->
<!--    </li>-->

<!--    <li>-->
<!--      <mat-icon>money</mat-icon>-->
<!--      <span>10,003</span>-->
<!--      <p>Finance</p>-->
<!--    </li>-->

<!--    <li>-->
<!--      <mat-icon>people</mat-icon>-->
<!--      <span>128</span>-->
<!--      <p>Visitor</p>-->
<!--    </li>-->
<!--  </ul>-->

</div>
</body>
