
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Forget Password</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="login-content">
    <mat-card>

      <form [formGroup]="forgetPasswordForm">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required >
          <mat-error *ngIf="forgetPasswordForm.controls.email.touched && forgetPasswordForm.controls.email.invalid">
            <span *ngIf="forgetPasswordForm.controls.email.errors.required">You need provide an Email</span>
            <span *ngIf="forgetPasswordForm.controls.email.errors.pattern">Invalid email</span>
          </mat-error>
        </mat-form-field>


        <mat-dialog-actions>
          <button (click)="handleSubmit()"  [disabled]=" !(forgetPasswordForm.valid && forgetPasswordForm.dirty)" mat-raised-button color="primary" type="submit">  <mat-icon>send</mat-icon> Send</button>
          <button  mat-raised-button color="warn" mat-dialog-close ><mat-icon>close</mat-icon>cancel</button>
        </mat-dialog-actions>
      </form>
      <br>
    </mat-card>
  </div>
</div>


